<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load the literals from the properties file -->
	<context:property-placeholder
		location="classpath:sport.properties" />

	<bean id="myFortuneService"
		class="com.ns.springpractice.first.HappyFortuneService">
	</bean>

	<!-- define your bean -->
	<bean id="myCoach" class="com.ns.springpractice.first.TrackCoach">
		<!-- set up construction injection -->
		<constructor-arg ref="myFortuneService" />
	</bean>

	<bean id="myCricketCoach"
		class="com.ns.springpractice.first.CricketCoach">
		<!-- set up setter injection -->
		<property name="fortuneService" ref="myFortuneService"></property>

		<!-- injecting literal values(hardcoded) -->
		<!-- <property name="email" value="rcb@ipl.com"></property>
		<property name="team" value="RCB"></property> -->
		
		<!-- reading from the properties file -->
		<property name="email" value="${foo.email}"></property>
		<property name="team" value="${foo.team}"></property>

	</bean>

</beans>